@use "var";

.nft-hightlight {
    width: 100vw;
    max-height: 900px;
    height: 100%;
    z-index: 0;
    position: absolute;
    left: 0;

    &:hover .nft-hightlight__hover {
        z-index: 2;
        background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
    }


    &__image {
        width: 100vw;
        max-height: 900px;
        height: 100%;
        z-index: 0;
        position: absolute;
        left: 0;
    }

    .nft-hightlight__hover {
        z-index: -1;
        height: inherit;
        width: inherit;
        position: relative;
        padding: 25% 9.832% 60px;

    }
}

.nft-hightlight__account {
    display: flex;
    gap: 12px;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 150px;
    width: 100%;
    background: var.$bgAccount;
    margin-bottom: 30px;

    &-name {
        color: white;
    }
}


//Counter Area


.counter-area {

    &__nft-name {
        color: white;
        margin-bottom: 30px;
    }

    &__nft-btn {
        padding: 19px 50px;
        display: flex;
        align-items: center;
        gap: 13px;
        border-radius: 20px;
        background: var.$bgButton;

        &:hover {
            transform: scale(1.2);
            transition: .5s;
        }
    }

}

.lower-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 200px;
    padding: 30px;
}

.nft-btn__name {
    color: black;
}

.auction-timer {
    max-width: 495px;
    width: 100%;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 20px;

    &__header {
        color: white;
        margin-bottom: 20px;
        
    }

    &_timer {
        color: white;
        margin-bottom: 10px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
    }

}



// Timer