@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

input {
  outline: none;
}

button:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
li:hover {
  cursor: grab;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

input[type=text],
input[type=email],
input[type=phone] {
  padding-left: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  transition: 0.2s all;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1080px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

button, link {
  cursor: pointer;
}

body {
  background: #2B2B2B;
}

.digest {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px;
  gap: 80px;
  background: #3B3B3B;
  border-radius: 20px;
  margin-bottom: 50px;
}
.digest__textBlock > h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}
.digest__textBlock > p {
  padding: 10px 0 40px 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
}

.digest__form {
  position: relative;
}
.digest__form-input {
  padding: 20px 10px 20px 20px;
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 100%;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.digest__form-input::-moz-placeholder {
  font-family: "Work Sans";
  color: #2B2B2B;
}
.digest__form-input::placeholder {
  font-family: "Work Sans";
  color: #2B2B2B;
}
.digest__form-button {
  padding: 20px 50px 20px 80px;
  background: #A259FF;
  border-radius: 20px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  outline: none;
  width: 50%;
  line-height: 140%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.digest__form-button:hover {
  background: #914fe5;
}

.svg-digest {
  height: 20px;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}


.cards {
  margin: 40px 0 120px;
}

.how-work {
  margin-bottom: 50px;
}

.how-it-works {
  display: flex;
  justify-content: center;
  background-color: #2B2B2B;
}

.container_text {
  padding-bottom: 48px;
  max-width: 1050px;
  width: 100%;
}

.container_card-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 30px;
  margin: 0 auto;
  max-width: 1050px;
  width: 100%;
}

.container_card-row--infocard {
  order: 1;
  background-color: #3B3B3B;
  border-radius: 20px;
  max-width: 330px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.container_card-row--infocard2 {
  order: 2;
  background-color: #3B3B3B;
  border-radius: 20px;
  max-width: 330px;
  width: 100%;
  text-align: center;
}

.container_card-row--infocard3 {
  order: 3;
  background-color: #3B3B3B;
  border-radius: 20px;
  max-width: 330px;
  width: 100%;
  text-align: center;
}

h2 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}

h4 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 10px;
}

p {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.container_card-row--text {
  max-width: 270px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2B2B2B;
}

.discover {
  margin: 80px 0;
}

.see_all {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 100%;
  max-height: 60px;
  border-radius: 20px;
  border: 2px solid #A259FF;
  padding: 20px;
  background-color: #2B2B2B;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.see-all__svg {
  width: 20px;
  height: 20px;
}

.container {
  max-width: 1050px;
  width: 100%;
  margin: 50 auto;
}

.discover__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}
.discover__title .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.discover__title .title h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: #FFFFFF;
}
.discover__title .title p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
}

.content__item:hover {
  box-shadow: rgba(232, 225, 225, 0.1) 0px 20px 25px -5px, rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;
}

.discover--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.discover--content .content__item {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #3B3B3B;
}
.discover--content .nft-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px 30px;
}
.discover--content .nft-info .info-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.discover--content .nft-info .info-name h5 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFFFFF;
}
.discover--content .nft-info .info-name .author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.discover--content .nft-info .info-name .author h6 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.discover--content .nft-info .pay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.discover--content .nft-info .pay .price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.discover--content .nft-info .pay .price:first-child {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}
.discover--content .nft-info .pay .price:last-child {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.discover--content .nft-info .pay .bid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.discover--content .nft-info .pay .bid:first-child {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}
.discover--content .nft-info .pay .bid:last-child {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.nft-hightlight {
  width: 100%;
  max-height: 900px;
  height: 100%;
  z-index: 0;
  position: relative;
  left: 0;
}
.nft-hightlight:hover .nft-hightlight__hover {
  z-index: 2;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
}
.nft-hightlight__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  max-height: 900px;
  height: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
}

.nft-hightlight__hover {
  z-index: -1;
  height: inherit;
  width: inherit;
  position: relative;
  padding: 30% 9.832% 60px;
}
@media screen and (max-width: 1280px) {
  .nft-hightlight__hover {
    padding: 40% 6% 60px;
  }
}
@media screen and (max-width: 768px) {
  .nft-hightlight__hover {
    padding: 40% 4% 60px;
  }
}

.nft-hightlight__account {
  display: flex;
  gap: 12px;
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 150px;
  width: 100%;
  background: #3B3B3B;
  margin-bottom: 30px;
}
.nft-hightlight__account-name {
  color: white;
  font-family: "Space Mono", sans-serif;
  font-style: normal;
}

.counter-area__nft-name {
  color: white;
  margin-bottom: 30px;
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.counter-area__nft-btn {
  padding: 19px 50px;
  display: flex;
  align-items: center;
  gap: 13px;
  border-radius: 20px;
  background: #FFFFFF;
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.counter-area__nft-btn:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.lower-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 200px;
}

.nft-btn__name {
  color: black;
}

.auction-timer {
  max-width: 495px;
  width: 100%;
  background: rgba(59, 59, 59, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 20px;
}
@media screen and (max-width: 1280px) {
  .auction-timer {
    max-width: 400px;
    width: 100%;
  }
}
.auction-timer div {
  display: flex;
  justify-content: space-around;
}
.auction-timer__header {
  color: white;
  margin-bottom: 20px;
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
}
.auction-timer__timer {
  color: white;
  margin-bottom: 10px;
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .auction-timer__timer {
    font-size: 40px;
  }
}
.auction-timer__timer-subtitle {
  color: white;
  text-align: center;
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
}

span,
input,
button {
  display: block;
}

.footer {
  width: 100%;
  position: absolute;
  padding: 40px 0;
  background: #3b3b3b;
}
.footer__list {
  display: flex;
  gap: 31px;
  justify-content: space-between;
  margin-bottom: 35px;
}
.footer__list .list__item p,
.footer__list .list__item span {
  padding-bottom: 20px;
}
.footer__list .list__item .item__logo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 84px;
  margin-bottom: 34px;
  cursor: pointer;
}
.footer__list .list__item .item__description-col1 {
  max-width: 238px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
  cursor: auto;
}
.footer__list .socials-list {
  display: flex;
  gap: 10px;
}
.footer .explore {
  cursor: pointer;
}
.footer .caption {
  margin-bottom: 25px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
}
.footer .item__description-col2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
  min-width: 240px;
}
.footer .item__description-col3 {
  max-width: 330px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
}
.footer .subscribe {
  max-width: 420px;
  width: 100%;
}
.footer .mail-form {
  position: relative;
}
.footer .mail {
  position: absolute;
  max-width: 420px;
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  border: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #2b2b2b;
  padding: 19px 20px;
  z-index: 15;
}

.submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
  border: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  background: #a259ff;
  padding: 19px 50px;
  z-index: 16;
  cursor: pointer;
}

.rights {
  position: relative;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #cccccc;
}

.rights::before {
  display: block;
  position: absolute;
  content: "";
  top: -20px;
  right: 0;
  left: 0;
  max-width: 1150px;
  width: 100%;
  border: 1px solid #858584;
}/*# sourceMappingURL=main.css.map */